.games{
    display: flex;
    align-content: baseline;
    overflow-x: scroll;
    margin: 10px 5px 10px 5px;
}
.game-header{
    display: flex;
    justify-content: space-between;
    margin: auto 20px;
}
.all-game{
    color: gray;
    font-weight: bolder;
}
.add-game{
    cursor: pointer;
    border-radius: 3px;
    padding: 1px 5px;
}
.add-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}
.plus-icon{
    color: white;
    background: #03A9F4;
    font-size: 25px;
    font-weight: bolder;
    font-family: inherit;
    margin-right: 5px;
    width: 30px;
    border-radius: 5px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.individual-game{
    background: lightgray;
    width: 25%;
    overflow: auto;
    height: 100px;
    text-align: center;
    margin: auto 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    font-size: 20px;
    font-weight: bolder;
    color: #03A9F4;
    border-radius: 10px;
}
.individual-game:hover{
    background: #03A9F4;
    color: white;
}
/* .individual-game:visited{
    background-color: yellow !important;
    color: white;
} */
.game-model{
    display: flex;
    flex-direction: column;
}
